<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="<%= metaTags.ogTitle %>" />
    <meta property="og:description" content="<%= metaTags.ogDescription %>" />
    <meta property="og:image" content="<%= metaTags.ogImage %>" />
    <meta property="og:url" content="<%= metaTags.ogUrl %>" />

    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= description %></p>
    <img src="<%= imageUrl %>" alt="Blog Post Image" />
  </body>
</html>
